# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# Ignore version control files and directories
.git
.gitignore
.gitattributes

# Development files
.eslintrc.json
.prettierrc
nest-cli.json
README.md

# Docker related files
.dockerignore
Dockerfile
docker-compose.yaml

node_modules
dist
test-data